[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
fire = "*"
dataset = "*"
pylint = "*"
sanic-cors = "*"
sanic-limiter = "*"
referral = {editable = true, path = "."}
python-decouple = "*"
validate-email = "*"
pytest-expect = "*"
crayons = "*"
email-validator = "*"
rq = "*"
requests = "*"
stripe = "*"
hashids = "*"
faker = "*"
"psycopg2" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
