[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
python-decouple = "*"
dataset = "*"
hashids = "*"
stripe = "*"
fire = "*"
sqlalchemy = "*"
validate-email = "*"
sanic = "*"
sanic-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
